nav.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // background-color: $color-primary1;
    .navbar-toggler {
        &-button {
            @include heading5();
            position: relative;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                transform: translate(-200%, -50%);
                width: 11px;
                height: 11px;
                border-radius: 11px;
                background: linear-gradient(
                    135deg,
                    #6bbfa4 0%,
                    #3d5aa5 50.52%,
                    #ea4d4e 100%
                );
            }
        }
    }
    .navbar-nav {
        background-color: $color-primary1;
        @media screen and (max-width: 992px) {
            padding-bottom: 2rem;
        }
        .nav-item {
            margin: auto 1rem;
            width: fit-content;
            @media screen and (max-width: 992px) {
                margin: auto;
            }
            .nav-link {
                @include body2();
                &.active {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 50%;
                        transform: translate(-120%, -50%);
                        width: 11px;
                        height: 11px;
                        border-radius: 11px;
                        background: linear-gradient(
                            135deg,
                            #6bbfa4 0%,
                            #3d5aa5 50.52%,
                            #ea4d4e 100%
                        );
                        @media screen and (max-width: 992px) {
                            transform: translate(-200%, -50%);
                        }
                    }
                }
                &.nav-button {
                    @include gradient-button();
                    text-transform: uppercase;
                    border-radius: 2rem;
                    padding: 0.5rem 1.75rem;
                }
            }
        }
    }
}
